@model PennState.ViewModels.RequestViewModel


<h2>Pending Requests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Item Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Unit Price
        </th>
        <th>
            Message
        </th>
        <th>
            UserId
        </th>
        <th>
            TotalPrice
        </th>
        <th></th>
    </tr>
    @if (Model.Requests != null)
    {
        foreach (var item in Model.Requests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    }
    else
    {
        if (TempData["SM"] != null)
        {
            <tr>
                <th>
                    <div class="alert alert-primary">
                        @TempData["SM"]
                    </div>                   
                </th>
            </tr>
        }
    }
</table>
