<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link id="active_style" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @Html.Partial("_NavBar")

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="logModal" id="logInModal" data-backdrop="false">
        <div class="modal-content" id="modContent">
            <div class="modal-header">
                <h3 class="modal-title">Physics Lab Inventory - Sign In</h3>
            </div>
            <div class="modal-body" id="logInBod">
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Scripts/chosen.jquery.js"></script>
<script src="~/Scripts/notify.js"></script>
<script type="text/javascript">   

    //Search for query string
    $(document).ready(function () {
        $('#my_form').on('keydown', function (e) {
                debugger
                var q = e.target.value;
                var key = e.which;
                if (key == 13) {
                        e.preventDefault();
                        e.stopPropagation();
                        $.ajax({
                        url: '@Url.Action("Search", "Item")/' + q,
                        type: 'GET',
                        async: false,
                        success: function (data) {
                            $("#theTable").html(data);
                        },
                        error: function (xhr, status, error) {
                            alert(xhr.responseText);
                        }
                        
                        });                 
                }
        });
    });
    
    $(document).ready(function () {
        
        $('#myModal').on('shown.bs.modal', function () {
            $('.chosen-select', this).chosen();
        });
        $('#myModal2').on('shown.bs.modal', function () {
            $('.chosen-select', this).chosen();
        });
    });
    

    $.notify.addStyle('happygreen', {
        html: "<div>☺<span data-notify-text/>☺</div>",
        classes: {
            base: {
                "white-space": "nowrap",
                "background-color": "lightgreen",
                "padding": "5px"
            },
            supergreen: {
                "color": "white",
                "background-color": "limegreen"
            }
        }
    });

    function validateAddForm() {
        if (!$("#createForm").valid()) {
            return false;
        }
        else {
            $.notify("Item Has Been Added", {
                style: 'happygreen'
            });
        }
    };

    function validateEditForm() {
        if (!$("#editForm").valid()) {
            return false;
        }
        else {
            $.notify("Item Saved", {
                style: 'happygreen'
            });
        }
    };

        //Login modal open
        //
        var logIn = function () {
            var modal = document.getElementById('logInModal');
            var url = '@Url.Action("Login", "Account")';
            $("#logInBod").load(url, function () {
                $("#logInModal").fadeIn(500).modal(modal.style.display = "block").show();
               
            });
            window.onclick = function (event) {
                if (!$(event.target).closest('#logInModal').length && !$(event.target).is('#logInModal')) {

                    $("#logInModal").fadeOut(500).modal(modal.style.display = "none").hide();
                }
            }

        }
        //
        //

        
        //Set Mouse Inside and Outside From Modals
        //
        //
        //

        //Edit modal open and close
        //
    var modal2 = document.getElementById('myModal');
    var editContent = document.getElementById('editContent');
    var closeEdit = function () {
        modal2.style.right = "-600px";
        editContent.style.display = "none";        
        $('#myModal').modal('hide');
    }
        
    function editItem(id) {
        $.ajax({
            url: '@Url.Action("Edit", "Item")/' + id,
            type: 'GET',
            complete: function (e) {
                $("#myModal").fadeIn(20).modal('toggle');
                modal2.style.right = "0px";
                editContent.style.display = "block";

            },
            success: function (response) {                                
                $('#modalBod').html(response);
            }
        });
    }

    //Add Item modal open and close
        //
        var modal3 = document.getElementById('myModal2');
        
        var closeAdd = function() {            
            $("#myModal2").modal('hide');
            modal3.style.display = "none";
        }


        var addItem = function () {
            $.ajax({
            url: '@Url.Action("AddItem", "Item")',
            type: 'GET',
            complete: function (e) {
                $("#myModal2").fadeIn(300).modal('toggle');
                modal3.style.display = "block";
            },
            success: function (response) {                                
                $('#createBod').html(response);               
            }
        });           
        }

        //
        //

        //
        //


        // Details modal open and close
        //
        var modal4 = document.getElementById('detailModal');
        function closeDetails() {
            $('#detailModal').fadeOut(500).modal('hide', function () {
                modal4.style.display = "none";
            });
        }

    
        var itemDetails = function (id) {
            var url = '@Url.Action("ItemDetails","Item")/' + id;
            $("#detailBod").load(url, function () {
                $("#detailModal").fadeIn(500).modal('show', modal4.style.display = "block");
            });
        }

        //
        //
        

    $('body').click(function (event) {
        if (!$(event.target).closest('#myModal').length && !$(event.target).is('#myModal')) {
            modal2.style.display = "none";
            document.getElementById('pageId').classList.remove('overlay');
        }
        else {
            $("#myModal").fadeIn(300).modal('toggle');
            modal2.style.display = "block";
            document.getElementById('pageId').classList.add('overlay');
        }
    });

    $('body').click(function (event) {
        if (!$(event.target).closest('#myModal2').length && !$(event.target).is('#myModal2')) {
            modal3.style.display = "none";
            $("#myModal2").modal('hide');
        }
    });
        //
        //


    var confirmDelete = function(itemid){
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteItem", "Item")/' + itemid,
            beforeSend: function () {
                return confirm("Are you sure you want to delete this item?");
            }
        }).done(function (data) {
            $("#delModal").hide();
            $("#row_" + itemid).remove();
            $.notify("Item Deleted", {
                style: 'happygreen'
            });
        });
    }



        $('.dropdown-toggle').on("hover", function (e) {
                e.stopPropagation();
            e.preventDefault();
            $(this).next('.dropdown-menu').toggle().fadeOut(9000);


    });



 


</script>
